<div class="container-fluid">
  <h1>Template Driven Form</h1>
  <div class="row" id="card">
    <div class="col-lg-6">
      <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
        <h2>Form</h2>
        <div class="mb-3">
          <label class="form-label">UserName -</label>
          <input type="text" class="form-control" name="username" ngModel>

        </div>
        <div class="mb-3">
          <label class="form-label">Password -</label>
          <input type="password" class="form-control" name="Pass" ngModel>
        </div>
        <div class="mb-3">
          <label class="form-label">Mobile -</label>
          <input type="text" class="form-control" name="Mob" ngModel>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" name="checkme" ngModel>
          <label class="form-check-label">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-lg-6 c2">
      <h2>Output</h2>
      <div class="outputlabel">
        <label> UserName : {{Username}}</label><br>
        <label> Password : {{Password}}</label><br>
        <label> Mobile : {{Mobile}}</label>
      </div>
    </div>
  </div>
</div>
