#card {
  background-color: antiquewhite;
  height: 400px;
  width: 800px;
  margin: auto;
  border: 1px solid black;
}
h1 {
  margin-left: 600px;
}
h2 {
  margin: 10px 150px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.c2 {
  border-left: 2px solid black;
}
button {
  margin-left: 150px;
}
.output {
  color: black;
  font-weight: bold;
}
.outputlabel {
  margin-top: 40px;
}
.outputlabel label {
  margin-bottom: 80px;
  font-weight: bold;
}
